.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3125rem 1.875rem;
  background-color: var(--primary); 
  color: var(--text); 
  width: 90%; 
  position: fixed; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3.125rem;
  z-index: 1000; 
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
  margin-top: 2.5rem;
}

.navbar-logo {
  flex: 1;
}

.navbar-logo h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.navbar-logo a {
  display: inline-block;
  color: var(--text);
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1.875rem;
  justify-content: center; 
  align-items: center; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-links a {
  display: flex;
  color: var(--text); 
  text-decoration: none;
  font-size: 1.1em;
  position: relative; 
  transition: color 0.3s;
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.125rem;
  bottom: 0.0625rem;
  left: 0;
  background-color: var(--text); 
  transition: width 0.3s ease-in-out;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 1.25rem;
}

.navbar-toggle .bar {
  width: 1.5625rem;
  height: 0.1875rem;
  background-color: var(--text); 
  margin: 0.25rem 0;
  transition: 0.4s;
}

.navbar-theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.25rem;
  flex: 1;
}

@media (max-width: 48rem) {
  .navbar {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 3.75rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary); 
    padding: 0.625rem 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.3125rem;
    gap: 1.25rem;
    padding: 1.25rem 0;
    background-color: var(--primary);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
  }

  .navbar-toggle {
    display: flex;
    margin-left: 0;
    margin-top: 0.625rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-search {
    position: absolute;
    top: 50%;
    right: 7.5rem; 
    transform: translateY(-50%);
    padding: 0.3125rem;
    display: none;
    border-radius: 0.3125rem;
  }

  .navbar-theme-toggle {
    margin-left: 0;
    margin-top: 0.625rem;
  }
}

#nav-icon3 {
  width: 1.875rem;
  height: 1.5rem;
  position: relative; 
  cursor: pointer;
  z-index: 15; 
  display: none; 
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 0.1875rem;
  width: 100%;
  background: var(--text);
  border-radius: 0.5625rem;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0rem;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 0.5625rem;
}

#nav-icon3 span:nth-child(4) {
  top: 1.125rem;
}

#nav-icon3.open span:nth-child(1) {
  top: 0.5625rem;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 0.5625rem;
  width: 0%;
  left: 50%;
}

@media (max-width: 48rem) {
  #nav-icon3 {
    display: block; 
  }
}