.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: var(--primary); 
    color: var(--text); 
    width: 90%; 
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 40px;
  }
  
  .navbar-logo {
    flex: 1;
  }
  
  .navbar-logo a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 30px;
    justify-content: center; 
    flex: 2;
  }
  
  .navbar-links a {
    display: flex;
    color: var(--text); 
    text-decoration: none;
    font-size: 1.1em;
    position: relative; 
    transition: color 0.3s;
  }
  
  .navbar-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 1px;
    left: 0;
    background-color: var(--accent); 
    transition: width 0.3s ease-in-out;
  }
  
  .navbar-links a:hover::after {
    width: 100%;
  }
  
  .navbar-search-icon {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--text); 
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .navbar-search {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    padding: 5px;
    display: none;
    border-radius: 5px;
  }
  
  .navbar-search input {
    border: none;
    padding: 5px;
    font-size: 1em;
    width: 150px;
    border-radius: 5px;
  }
  
  .navbar-search.open {
    display: block;
  }
  
  @media (max-width: 768px) {
    .navbar {
      width: 100%;
      left: 0;
      transform: none;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: var(--primary); 
      padding: 10px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-search {
      top: 120px; 
      right: 20px;
    }
  }