.footer {
  width: 100%;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed; /* Default to fixed */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
}

.footer-contact, .footer-social, .footer-copyright {
  flex: 1;
  text-align: center;
  margin: 10px;
}

.footer-social a {
  margin: 0 10px;
  color: var(--text);
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-social svg {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease-in-out;
  fill: var(--text); 
  margin: 5px;
}

.footer-social svg:hover {
  transform: scale(1.2);
}

/* Media Queries for Responsiveness */
@media (max-width: 2400px) {
  .footer {
    padding: 15px;
    flex-direction: column; /* Stack elements vertically */
    text-align: center;
    position: relative; /* Change to relative on smaller screens */
  }

  .footer-contact, .footer-social, .footer-copyright {
    flex: none;
    width: 100%;
    margin: 5px 0;
  }

  .footer-social svg {
    width: 36px;
    height: 36px;
  }
  
}

@media (max-width: 768px) {
  .footer {
    padding: 10px;
    flex-direction: column; /* Stack elements vertically */
    text-align: center;
    position: relative; /* Change to relative on smaller screens */
  }

  .footer-contact, .footer-social, .footer-copyright {
    flex: none;
    width: 100%;
    margin: 5px 0;
  }

  .footer-social svg {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 5px;
    flex-direction: column;
    text-align: center;
    position: relative; /* Ensure relative on very small screens */
  }

  .footer-contact, .footer-social, .footer-copyright {
    flex: none;
    width: 100%;
    margin: 5px 0;
  }

  .footer-social svg {
    width: 24px;
    height: 24px;
  }
}