.footer {
  width: 100%;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
}

.footer-contact, .footer-social, .footer-copyright {
  flex: 1;
  text-align: center;
  margin: 0.625rem;
}

.footer-social a {
  margin: 0 0.625rem;
  color: var(--text);
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

.footer-social svg {
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s ease-in-out;
  fill: var(--text); 
  margin: 0.3125rem;
}

.footer-social svg:hover {
  transform: scale(1.2);
}

/* Media Queries for Responsiveness */
@media (max-width: 150rem) {
  .footer {
    padding: 0.9375rem;
    flex-direction: column; 
    text-align: center;
    position: relative; 
  }

  .footer-contact, .footer-social, .footer-copyright {
    flex: none;
    width: 100%;
    margin: 0.3125rem 0;
  }

  .footer-social svg {
    width: 2.25rem;
    height: 2.25rem;
  }
  
}

@media (max-width: 48rem) {
  .footer {
    padding: 0.625rem;
    flex-direction: column; 
    text-align: center;
    position: relative; 
  }

  .footer-contact, .footer-social, .footer-copyright {
    flex: none;
    width: 100%;
    margin: 0.3125rem 0;
  }

  .footer-social svg {
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media (max-width: 30rem) {
  .footer {
    padding: 0.3125rem;
    flex-direction: column;
    text-align: center;
    position: relative; 
  }

  .footer-contact, .footer-social, .footer-copyright {
    flex: none;
    width: 100%;
    margin: 0.3125rem 0;
  }

  .footer-social svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}