.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 1.875rem;
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3125rem;
    transition: transform 0.5s, filter 0.5s;
}

.heroTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.625rem;
    box-sizing: border-box;
}

.heroTitle a {
    text-decoration: none;
    color: var(--text);
}

.heroList {
    display: flex;
    flex-direction: row;
    transform-style: preserve-3d;
    transform: perspective(62.5rem);
    gap: 0.625rem;
    width: 60vw; 
}

.heroList .heroItem {
    position: relative;
    transition: transform 0.5s, filter 0.5s;
    filter: brightness(0.4);
    flex: 1 1 calc(16.66% - 0.625rem);
    margin: 0 0.3125rem;
    width: 9.375rem;
    height: 9.375rem;
}

.heroList .heroItem:hover {
    filter: brightness(1);
    transform: translateZ(12.5rem);
}

.heroList .heroItem:hover + * {
    filter: brightness(0.6) blur(0.0625rem);
    transform: translateZ(9.375rem) rotateY(40deg);
}

.heroList .heroItem:hover + * + * {
    filter: brightness(0.4) blur(0.0625rem);
    transform: translateZ(4.375rem) rotateY(20deg);
}

.heroList .heroItem:hover + * + * + * {
    filter: brightness(0.2) blur(0.0625rem);
    transform: translateZ(1.875rem) rotateY(10deg);
}

.heroList .heroItem:has(+ *:hover) {
    filter: brightness(0.6) blur(0.0625rem);
    transform: translateZ(9.375rem) rotateY(-40deg);
}

.heroList .heroItem:has(+ * + *:hover) {
    filter: brightness(0.4) blur(0.0625rem);
    transform: translateZ(4.375rem) rotateY(-20deg);
}

.heroList .heroItem:has(+ * + * + *:hover) {
    filter: brightness(0.2) blur(0.0625rem);
    transform: translateZ(1.875rem) rotateY(-10deg);
}

.heroList .heroItem .heroInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #e08a0066;
    backdrop-filter: blur(0.625rem);
    color: var(--text);
    padding: 0.625rem;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 0.3125rem;
    pointer-events: none;
    border: 0.125rem solid var(--accent);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroList .heroItem:hover .heroInfo {
    opacity: 1;
}

/* Media Queries for Responsiveness */
@media (max-width: 75rem) {
    .heroContainer {
        width: 90vw; 
    }

    .heroList {
        flex-direction: row; 
        flex-wrap: wrap; 
    }

    .heroList .heroItem {
        flex: 1 1 calc(50% - 1.25rem); 
        margin: 0.625rem; 
        height: 6.25rem; 
    }

    .heroList .heroItem:nth-child(1):only-child {
        flex: 1 1 100%; 
        height: 12.5rem; 
    }

    .heroImg {
        width: 100%; 
        height: 100%; 
    }
}

@media (max-width: 48rem) {
    .heroContainer {
        width: 90vw; 
    }

    .heroList {
        flex-direction: column; 
    }

    .heroList .heroItem {
        margin: 0.625rem 0; 
        width: 100%; 
    }

    .heroList .heroItem .heroInfo {
        display: none; 
    }

    .heroImg {
        width: 100%; 
        height: auto; 
    }
}

@media (max-width: 30rem) {
    .heroContainer {
        width: 90vw; 
    }

    .heroList {
        flex-direction: column; 
    }

    .heroList .heroItem {
        margin: 0.625rem 0; 
        width: 100%; 
    }

    .heroList .heroItem .heroInfo {
        display: none; 
    }

    .heroImg {
        width: 100%; 
        height: auto; 
    }
}