input[type="number"],
input[type="date"],
input[type="text"].textInput,
select {
  width: 100%;
  max-width: 9.375rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.875rem;
  border-radius: 0.25;
  border: 0.09375rem solid var(--secondary);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"],
input[type="text"].textInput,
select {
  color: var(--text);
}

input[type="number"]:focus,
input[type="date"]:focus,
input[type="text"].textInput:focus,
select:focus {
  border-color: var(--primary);
  outline: none;
}

input[type="number"]::placeholder,
input[type="text"].textInput::placeholder {
  color: var(--secondary);
  font-style: italic;
}

.minPriceInput,
.maxPriceInput,
.startDateInput,
.endDateInput,
.hostInput,
.genreInput {
  background-color: #fbfbfb;
  color: #444;
}

button.searchButton {
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  font-size: 0.875rem;
  color: var(--secondary-text);
  background-color: var(--primary);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button.searchButton:hover {
  background-color: var(--accent);
}


/* .fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
} */