@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;500;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: 'Zilla Slab', Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-wrapper {
  flex-grow: 1;
  margin-top: 100px;
  padding: 20px;
  margin-bottom: 60px; /* Ensure there is space for the footer */
}

:root[data-theme="light"] {
  --text: #171717;
  --secondary-text: #e8e8e8;
  --background: #e0dacd;
  --primary: #ffa91f;
  --secondary: #b8b8b8;
  --accent: #4d4d4d;
  --logo-filter: invert(0);
  --background-image: url('../assets/images/background-light.svg');
  --header-image: url('../assets/header/header-light.svg');
}

:root[data-theme="dark"] {
  --text: #e8e8e8;
  --secondary-text: #171717;
  --background: #121212;
  --primary: #e08a00;
  --secondary: #474747;
  --accent: #b3b3b3;
  --logo-filter: invert(1);
  --background-image: url('../assets/images/background-dark.svg');
  --header-image: url('../assets/header/header-dark.svg');
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  font-size: 1em;
}

.header {
  background-color: var(--secondary);
  color: var(--text);
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}