
.aboutUsPage {
    padding: 2rem;
}

.aboutUsHeader {
    text-align: center;
    font-size: 3rem;
}

.employee-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .employee {
    text-align: center;
  }
  
  .employee img {
    width: 20vw; 
    height: auto;
    max-width: 200px;
    max-height: 200px; 
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
  }
  
  .employee p {
    margin-top: 1rem; 
    font-size: 1rem; 
    color: #333;
  }
  
  .jobTitle {
    font-weight: bold;
  }
  
  .contactSymbols {
    width: 20vw; 
    height: auto;
    max-width: 20px;
    max-height: 20px; 
    object-fit: cover;
    vertical-align: middle; 
    margin-top: -4px; 
  }

  .joinTheTeam {
    margin-left:20px
  }