.JobApplicationForm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.JobApplicationFormContainer {
    background-color: white;
    margin-top: 1rem; 
    padding: 1.25rem; 
    border-radius: 0.5rem;
    max-width: 25rem; 
    width: 100%;
    text-align: center;
}

.ApplicationFormField {
    margin-bottom: 1rem; 
}
  
.ApplicationFormField label {
    display: block;
    margin-bottom: 0.3125rem;
}
