.Searchpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.EventCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
.EventCardFrame {
    flex: 1 1 220px;
    max-width: 220px;
    margin: 8px;
  }

.SearchpageTitle {
    display: flex;
    justify-content: center;
}

.Searchbar {
    display: flex;
    justify-content: center;
}